nav#navbar.navbar.navbar-default.navbar-fixed-top
      .container-fluid        
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation            
            span.icon-bar            
            span.icon-bar            
            span.icon-bar            
          span#name.navbar-brand.animsition-link(href='#') Daniel Arnost        
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul#links.nav.navbar-nav.navbar-right
            li
              a(href='https://github.com/danielarnost')
                img(height='30rem', src='../assets/images/GitHub-48.png')
            li
              a(href='https://www.linkedin.com/in/daniel-arnost-3b862a80?trk=nav_responsive_tab_profile_pic')
                img(height='30rem', src='../assets/images/LinkedIn-48.png')
            li
              a(href='http://stackoverflow.com/users/6637612/daniel-arnost')
                img(height='30rem', src='../assets/images/stackoverflow1.png')
            li.twitter
              a(href='https://twitter.com/daniel_arnost')
                img.twitter(title='Follow my coding progress and see my badges on twitter!', height='25rem', src='../assets/images/twitter-icon.png')
            li#email
              a.animsition-link(href='work.jade')
                h6 danielarnost@gmail.com