extends ./layout.jade

block content
      .whitespace.animsition
      br
      br
      br
      br
      br
      .container-fluid
                .col-md-12
                  form.form-horizontal(action='contact/submit', method='post')
                    .form-group
                      input#name.form-control.col-md-9(type='text', name='name', placeholder='Your Name')
                    .form-group
                      input#name.form-control.col-md-9(type='email', name='email', placeholder='Your Email')
                    .form-group
                      textarea#commentArea.form-control.col-md-9(type='text', name='message', placeholder='Your Comments')
                    .form-group
                      // <input type="submit" value="Submit">
                      button#submit.btn.btn-default.pull-right(type='submit', action='contact/submit', value='Submit')
                        i.glyphicon.glyphicon-send