extends ./layout.jade

block content
      
      .parallax.animsition         
      br
      br
      br
      br
      br
      .strip
        #top.inner
          .centered
            .tagline
              span
                h1
                  em Daniel Arnost  
                h1 Austin Based Web Developer 
          br
          .header
            #face-div(align='center')
              img(style='opacity:1;', src='/static/images/facebook-headshot-crop.png')
            .intro-text
              h1
                em  Scientist, Web Developer, Design Enthusiast.
      br
      .container-fluid
        #aspiration.row
          .col-md-12
            h2#ethos
              em Ethos:
              hr.light
            p.container-text
              | A passion for learning and strong background in earth science, (M.S. in Geosciences from UT Austin) has given me the ability to be a self-motivated researcher who can present complex data and concepts that convey concise, compelling content to the public.
            p.container-text
              | I am also a minimalist design and art enthusiast which allows me to build code-effcient, content-rich web sites that have minimum frills, sleek design, and provide clients with a pleasurable user experience.
            p.container-text
              | My experience at the Coding bootcamp at UT Austin and personal research has allowed me to build more fun, user-interacitve UX/UI design features to suit the client's needs.
      br             
      .popbox
        a.open(href='#') Click Here!
        .collapse
          .box
            .arrow
            .arrow-border
            |               Follow my coding progress on twitter!
            a.close(href='#') close
      // end popbox
      .whitespace

      
