extends ./layout.jade

block content      
      .parallax.animsition         
      br
      br
      br
      br
      br
      .strip
        #top.inner
          .centered
            .tagline
              span
                h1                  
                  em Daniel Arnost  
                h1#title Austin Based Web Developer 
          br
          .header
            #face-div(align='center')
              img(style='opacity:1;', src='/static/images/facebook-headshot-crop.png')
            .intro-text
              h2
                em  Scientist, Web Developer, 
                em  Design Enthusiast.
      br
      br
      br
      .container-fluid#slick
        h1#carousel-title.text-center M.S. Research at UT Austin 
        .slides
          .slide1 
            .grid-half 
              img( src='/static/images/award.jpg' style="border: 2px solid black; height:20rem; margin:0 auto")
              h3(align='center') Award for Best Research Grant Proposal.
          .slide2 
            .grid-half 
              img(src='/static/images/climbing.jpg' style="border: 2px solid black; height:20rem; margin:0 auto")
              h3(align='center') Taking a break from field work in Syros.
          .slide3 
            .grid-half 
              img(src='/static/images/greecegroup.jpg' style="border: 2px solid black; height:20rem; margin:0 auto")
              h3(align='center') UT Tectonics Research Group photo in Greece.
          .slide4 
            .grid-half 
              img(src='/static/images/swiss3.jpg' style="border: 2px solid black; height:20rem; margin:0 auto")
              h3(align='center') Graduate field research in the Swiss Alps.
          .slide5 
            .grid-half 
              img(src='/static/images/utChronLab.jpg' style="border: 2px solid black; height:20rem; margin:0 auto")
              h3(align='center') Solution ICP-MS in Jackson School Lab          
      .whitespace
      .whitespace
      br
      br         
      #aspiration.row
        .col-md-12
          h2#ethos
            em Ethos:              
          p.container-text
            | A passion for learning and strong background in earth science, (M.S. in Geosciences from UT Austin) has given me the ability to be a self-motivated researcher who can present complex data and concepts that convey concise, compelling content to the public.
          p.container-text
            | I am also a minimalist design and art enthusiast which allows me to build code-effcient, content-rich web sites that have minimum frills, sleek design, and provide clients with a pleasurable user experience.
          p.container-text
            | My experience at the Coding Boot Camp at UT Austin and personal research has allowed me to build more fun, user-interacitve UX/UI design features to suit the client's needs.
      br
      br             
      
      
