doctype html
html(lang="en")
    include ./partials/_head.jade
    
    
      
    body#page-top

      include ./partials/_nav.jade
      block content

      
      script(src="https://code.jquery.com/jquery-1.11.2.min.js")
      script(src='/static/javascripts/bootstrapjs/bootstrap.js')
      script(src='/static/javascripts/portfoliologic/badges.js')
      
      script(src='/static/javascripts/animsition/animsition.min.js')
      script(src='/static/javascripts/slick/slick.min.js')
      script(src='/static/javascripts/portfoliologic/animsition.js')

      